html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main__visual {
  width: 100%;
  height: 600px;
  position: relative;
  margin: 0;
  z-index: -1;
}

.main__visual-img {
  width: 100%;
  height: 100%;
}

.main__visual-text {
  width: 100%;
  height: 100px;
  font-size: 50px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main__links {
  justify-content: center;
  text-align: center;
}

.link1 {
  width: 98%;
  height: 40px;
  border: 1px solid black;
}

.link2 {
  display: inline-block;
  width: 49%;
  height: 40px;
  border: 1px solid black;
}

#sns {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

#sns__logo {
  text-align: center;
}

#sns__imgs {
  width: 100%;
  display: inline-block;
  padding: 20px;
  text-align: center;
}

.sns__img {
  width: 150px;
  height: 150px;
  padding: 0 5px;
}

#footer {
  width: 100%;
  height: 150px;
  background-color: darkgray;
  display: flex;
  align-items: center;
}

#footer__info {
  width: 100%;
  text-align: center;
}

#footer__info p {
  margin: 0 0 4px 0;
}

#footer>p {
  width: 100%;
  text-align: center;
}