html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#main__visual {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: -1;
}

.main__visual-img {
  width: 100%;
  height: 100%;
}

.main__visual-text {
  width: 100%;
  height: 100px;
  font-size: 50px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main__links {
  justify-content: center;
  text-align: center;
}

.link1 {
  width: 98%;
  height: 40px;
  border: 1px solid black;
}

.link2 {
  display: inline-block;
  width: 49%;
  height: 40px;
  border: 1px solid black;
}